@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-weight: 400;
  src: url('../fonts/roboto-v30-cyrillic_latin-regular.woff2') format('woff2'),
    url('../fonts/roboto-v30-cyrillic_latin-regular.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-weight: 500;
  src: url('../fonts/roboto-v30-cyrillic_latin-500.woff2') format('woff2'),
    url('../fonts/roboto-v30-cyrillic_latin-500.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-weight: 700;
  src: url('../fonts/roboto-v30-cyrillic_latin-700.woff2') format('woff2'),
    url('../fonts/roboto-v30-cyrillic_latin-700.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-family: 'Play';
  font-weight: 700;
  src: url('../fonts/play-v19-cyrillic_latin-700.woff2') format('woff2'),
    url('../fonts/play-v19-cyrillic_latin-700.woff') format('woff');
}

/*body Section*/
:root {
  --color-text-main: #011c44;
  --color-text-accent: #2b7fff;
  --color-text-info: #4a4a4a;
  --color-text-light-info: #747272;
  --color-light: #fff;
}
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  color: var(--color-text-main);
  font-weight: 400;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.button {
  background-color: var(--color-text-accent);
  border: 2px solid var(--color-text-accent);
  border-radius: 32px;
  color: var(--color-light);
  font-family: 'Roboto';
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  line-height: 117.166667%; /* 21.09/18 */
  padding: 16px 32px;
  transition: background-color 0.2s, color 0.2s;
}
.button:hover {
  background-color: transparent;
  color: var(--color-text-main);
}
address {
  font-style: normal;
}
.container {
  box-sizing: border-box;
  max-width: 1272px;
  margin: 0 auto;
  padding: 0 16px;
}
.section {
  padding: 48px 0;
}
.section.contacts {
  padding-bottom: 96px;
}
.section:first-child {
  padding-top: 0;
  padding-bottom: 20px;
}
.section:nth-child(2) {
  padding-top: 0;
  padding-bottom: 128px;
}
.title {
  margin-bottom: 48px;
  text-align: center;
}
.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.background {
  position: absolute;
  top: 1345px;
  left: 0;
  width: 100%;
  height: 1582px;
  background: url('../images/background.svg') no-repeat;
  background-size: cover;
  z-index: -1;
}

/*header*/
.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(5px);
}
.menu-item {
  font-size: 18px;
  line-height: 116.666667%; /* 21/18 */
  color: var(--color-text-main);
  transition: color 0.2s;
}
.menu-item:hover {
  color: var(--color-text-accent);
}
.header-body {
  display: flex;
  justify-content: space-between;
  padding: 32px 0;
  align-items: center;
  column-gap: 20px;
}
.header-menu {
  flex-grow: 1;
  display: flex;
  align-items: center;
  column-gap: 20px;
}
.menu-list {
  flex-grow: 1;
  display: flex;
  column-gap: 56px;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 15px;
}
.menu-icon-list {
  display: flex;
  justify-content: space-between;
  flex-basis: 160px;
  height: 32px;
  align-items: center;
}
.menu-icon {
  fill: var(--color-text-main);
  height: 32px;
  width: 32px;
  transition: fill 0.2s;
}
.menu-icon:hover {
  fill: var(--color-text-accent);
}
.menu-icon-list li {
  max-height: 32px;
}

/*hero Section*/

.hero-label {
  font-size: 18px;
  line-height: 116.666667%; /* 21/18 */
  margin-bottom: 16px;
}
.horo-title {
  font-size: 140px;
  font-weight: 700;
  text-transform: capitalize;
  color: var(--color-text-accent);
  line-height: 81.428571%; /* 114/140 */
  font-family: 'play', sans-serif;
  max-width: 529px;
  margin-bottom: 40px;
}
.hero-text {
  color: var(--color-text-info);
  font-size: 12px;
  max-width: 238px;
  text-align: center;
}
.hero-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 106px;
  padding-bottom: 126px;
  padding-top: 126px;
}
.hero-baton {
  margin-bottom: 16px;
}
.hero-body {
  background: linear-gradient(
      89.38deg,
      #ffffff 30.62%,
      rgba(255, 255, 255, 0.850898) 41.31%,
      rgba(255, 255, 255, 0.193204) 58.65%,
      rgba(255, 255, 255, 0) 72.78%
    ),
    url('../images/bghero.jpg') no-repeat top right;
  background-size: contain;
}

/*reintest section*/

.star {
  position: absolute;
  top: 0;
  right: 0;
}
.star-1 {
  margin: 336px 295px 0 0;
  animation-name: star1;
  animation-duration: 1.1s;
  animation-iteration-count: infinite;
}
.star-2 {
  margin: 270px 6px 0 0;
  animation-name: star2;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
.star-3 {
  margin-top: 32px;
  animation-name: star3;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  transform: translateX(50%);
}
@keyframes star1 {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.2);
  }
  60% {
    transform: scale(1);
  }
  80% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes star2 {
  0% {
    transform: translate(0px) rotate(0deg) scale(1);
  }
  12.5% {
    transform: translate(-12.5px, -37.5px) rotate(90deg) scale(1.3);
  }
  25% {
    transform: translate(-50px, -50px) rotate(180deg) scale(1);
  }
  37.5% {
    transform: translate(-87.5px, -37.5px) rotate(270deg) scale(1.3);
  }
  50% {
    transform: translate(-100px, 0px) rotate(360deg) scale(1);
  }
  62.5% {
    transform: translate(-87.5px, 37.5px) rotate(450deg) scale(1.3);
  }
  75% {
    transform: translate(-50px, 50px) rotate(540deg) scale(1);
  }
  87.5% {
    transform: translate(-12.5px, 37.5px) rotate(630deg) scale(1.3);
  }
  100% {
    transform: translate(0px) rotate(720deg) scale(1);
  }
}
@keyframes star3 {
  0% {
    transform: scale(1) translateX(50%);
  }
  20% {
    transform: scale(1.2) translateX(50%);
  }
  40% {
    transform: scale(1) translateX(50%);
  }
  60% {
    transform: scale(1.2) translateX(50%);
  }
  80% {
    transform: scale(1) translateX(50%);
  }
  100% {
    transform: translateX(50%);
  }
}
.title {
  font-family: 'play', sans-serif;
  font-size: 64px;
  font-weight: 700;
  line-height: 115.625%; /* 74/64 */
}
.accent {
  color: var(--color-text-accent);
}
.reintest-title .accent {
  text-transform: capitalize;
}
.reintest-text {
  line-height: 172.727273%; /* 38/22 */
}
.reintest-text-accent {
  text-transform: capitalize;
  font-weight: 600;
}
.reintest-title {
  text-align: left;
  margin-bottom: 40px;
  max-width: 530px;
}
.reintest-container {
  display: flex;
  position: relative;
}
.reintest-content {
  flex-basis: calc(100% - 532px);
  padding-right: 32px;
  margin-top: 40px;
}
.reintest-picture {
  flex-basis: 500px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 40px;
}
.reintest-picture img {
  height: 328px;
  border-radius: 50%;
}
.reintest-picture img:nth-child(even) {
  margin-left: auto;
}
.reintest-text:not(:last-child) {
  margin-bottom: 40px;
}

/*advantages section*/

.advantages-title {
  width: 435px;
  margin-left: auto;
  margin-right: auto;
}
.advantages-list {
  font-size: 18px;
  line-height: 133.333333%; /* 24/18 */
  display: flex;
  column-gap: 56px;
  justify-content: center;
}
.advantages-item {
  text-align: center;
  border-radius: 32px;
  background-color: var(--color-light);
  box-shadow: 0px 4px 4px rgba(168, 198, 245, 0.38);
}
.advantages-box {
  margin: 24px 32px;
  width: 250px;
  min-height: 133px;
}
.advantages-icon {
  fill: var(--color-text-accent);
  height: 48px;
  width: 48px;
  margin-bottom: 8px;
}
.advantages-body {
  max-width: 1060px;
  margin: 0 auto;
}
.advantages-text:not(:last-child) {
  margin-bottom: 10px;
}

/*procedures section*/

.procedure-title {
  line-height: 118.181818%; /* 26/22 */
  color: var(--color-light);
  max-width: 150px;
  margin: 0 auto;
  padding-bottom: 32px;
}
.procedure-list {
  flex-grow: 1;
  display: flex;
  gap: 16px;
}
.procedure-item {
  flex-basis: calc((100% - 32px) / 3);
}
.procedure-card.masks {
  background: linear-gradient(
      180.05deg,
      rgba(1, 28, 68, 0) 48.53%,
      rgba(1, 28, 68, 0.725825) 84.61%,
      #011c44 101.39%
    ),
    url('../images/Masks.jpg') no-repeat;
  background-size: cover;
}
.procedure-card.cleaning {
  background: linear-gradient(
      180.05deg,
      rgba(1, 28, 68, 0) 48.53%,
      rgba(1, 28, 68, 0.725825) 84.61%,
      #011c44 101.39%
    ),
    url('../images/Cleansing.jpg') no-repeat;
  background-size: cover;
}
.procedure-card.injections {
  background: linear-gradient(
      180.05deg,
      rgba(1, 28, 68, 0) 48.53%,
      rgba(1, 28, 68, 0.725825) 84.61%,
      #011c44 101.39%
    ),
    url('../images/Injections.jpg') no-repeat;
  background-size: cover;
}
.procedure-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  width: 100%;
  height: 456px;
  border-radius: 4px 120px;
}
.procedure-body {
  display: flex;
  align-items: center;
  gap: 32px;
}
.procedure-button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 1px solid var(--color-text-main);
  background-color: transparent;
  transition: background-color 0.2s, border 0.2s;
}
.procedure-arrow {
  fill: var(--color-text-main);
  width: 16.76px;
  height: 16.76px;
  transition: fill 0.2s;
}
.arrow-right {
  transform: rotate(180deg);
}
.procedure-button:hover {
  background-color: var(--color-text-accent);
  border: 1px solid var(--color-light);
}
.procedure-button:hover .procedure-arrow {
  fill: var(--color-light);
}

/*contact section*/

.contact-body {
  width: 1060px;
  margin: 0 auto;
}
.contact-text {
  color: var(--color-light);
  width: 270px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 32px;
}
.contact-text-info {
  color: var(--color-text-light-info);
  font-size: 12px;
  line-height: 150%; /* 18/12 */
  max-width: 215px;
  margin: 0 auto;
}
.contact-text-info-link {
  color: var(--color-text-light-info);
  text-decoration: underline;
}
.contact-text-info-link:hover {
  color: var(--color-text-accent);
}
.contact-contant {
  background: url('../images/modal-bg.png');
  background-size: cover;
  background-color: var(--color-text-main);
  padding: 48px 56px;
  box-sizing: border-box;
  width: 420px;
  text-align: center;
  border-radius: 32px;
}
.contact-button {
  margin-bottom: 8px;
}
.contact-button:hover {
  color: var(--color-light);
}
.contact-container {
  display: flex;
  justify-content: space-between;
  column-gap: 32px;
  max-width: 1060px;
  margin: 0 auto;
}
.contact-map {
  border-radius: 32px;
  border: none;
}

/*footer*/
.footer-link {
  display: inline-block;
  font-size: 16px;
  line-height: 117.1875%; /* 18.75/16 */
  color: var(--color-light);
  transition: color 0.2s;
}
.footer-link:hover {
  color: var(--color-text-accent);
}
.footer-copy {
  color: var(--color-text-light-info);
  font-size: 13px;
  line-height: 117.153846%; /* 15.23/13 */
}
.footer {
  background: url('../images/footer-bg.png');
  background-size: cover;
  background-color: var(--color-text-main);
  position: relative;
}
.footer-container {
  display: flex;
  column-gap: 10px;
  padding: 56px 0;
}
.footer-menu {
  display: flex;
  justify-content: space-between;
  flex-basis: calc((100% - 10px) / 2);
  column-gap: 10px;
}
.address-body {
  flex-basis: calc((100% - 10px) / 2);
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
}
.social-list {
  display: flex;
  max-height: 42px;
  gap: 24px;
}
.social-icon {
  fill: var(--color-light);
  height: 42px;
  width: 42px;
  transition: fill 0.2s;
}
.social-icon:hover {
  fill: var(--color-text-accent);
}
.footer-menu-list {
  min-width: 130px;
  flex-basis: calc((100% - 10px) / 2);
}
.footer-item:not(:last-child),
.address-list li {
  margin-bottom: 16px;
}
.footer-adsress {
  width: 192px;
}
.footer-copyright > :not(:last-child) {
  margin-bottom: 16px;
}
.bg-image {
  position: absolute;
  bottom: 0;
  right: 0;
}

/*backdrop*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
}
.modal {
  position: relative;
  box-sizing: border-box;
  background: url('../images/modal-bg.png');
  background-size: cover;
  background-color: var(--color-text-main);
  padding: 42px 144px;
  max-width: 723px;
  max-height: 683px;
  height: 100%;
  overflow-y: auto;
  border-radius: 48px;
}
.button-close {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  margin: 50px 50px 0 0;
  height: 16px;
  width: 16px;
  background-color: transparent;
  cursor: pointer;
}
.button-close::before,
.button-close::after {
  margin-left: 1px;
  position: absolute;
  content: '';
  display: block;
  height: 2px;
  width: 20px;
  background-color: var(--color-light);
  transform-origin: left;
}
.button-close::before {
  transform: rotate(45deg);
  top: 0;
}
.button-close::after {
  transform: rotate(-45deg);
  bottom: 0;
}
.modal-title {
  color: var(--color-light);
  font-family: 'Play', sans-serif;
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 40px;
  text-align: center;
}
.modal-contant {
  max-width: 310px;
  margin: 0 auto;
  text-align: center;
}
.modal-text {
  max-width: 275px;
  margin: 0 auto;
  color: var(--color-light);
  font-weight: 600;
  margin-bottom: 32px;
}
.modal-text span {
  color: var(--color-text-accent);
}
.modal-text p:not(:last-child) {
  margin-bottom: 10px;
}
.modal-form {
  margin-bottom: 8px;
}
.contact-body .modal-form :not(:last-child) {
  margin-bottom: 16px;
}
.modal-form :not(:last-child) {
  margin-bottom: 24px;
}
.modal-block {
  width: 100%;
  position: relative;
}
.modal-input {
  box-sizing: border-box;
  width: 100%;
  padding: 18px 33px;
  border-radius: 32px;
  border: 2px solid var(--color-text-light-info);
  background-color: transparent;
  color: var(--color-light);
  font-size: 13px;
  transition: background-color 0.2s;
}
.modal-input::placeholder {
  color: var(--color-light);
  font-size: 13px;
}
.modal-input:focus {
  outline: none;
  background-color: var(--color-text-light-info);
}
.modal-button {
  transition: background-color 0.2s, color 0.2s;
}
.modal-button:hover {
  background-color: var(--color-light);
}
.modal-copy {
  color: var(--color-text-light-info);
  font-size: 12px;
  line-height: 150%; /* 18/12 */
  max-width: 215px;
  margin: 0 auto;
}
.modal-copy :not(:last-child) {
  margin-bottom: 10px;
}
.modal-copy a {
  color: var(--color-text-light-info);
  text-decoration: underline;
  transition: color 0.2s;
}
.modal-copy a:hover {
  color: var(--color-text-accent);
}
.is-hidden {
  display: none;
  opacity: 0;
  visibility: hidden;
}
